/**
 * Generic
 */
html, body {
  font-family: sans-serif;
  margin: 0;
}

html, body, input {
  color: #333935;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

small {
  font-size: .75em;
  opacity: .75;
}

svg path {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}


/**
 * Component
 */

.icon {
  width: 1rem;
  height: 1rem;
}

.notif {
  display: inline-block;
  min-width: .6em;
  height: 1em;
  border-radius: .7em;
  padding: .2em .4em;
  line-height: 1.2;
  color: #fff;
  background-color: #f00;
  text-align: center;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: .5rem 0;
}

.table tr + tr td {
  border-top: 1px solid currentColor;
}


.button {
  padding: 0.25rem .375rem;
  color: inherit;
  background: none;
  line-height: 1;
  cursor: pointer;
}

.button:active {
  background-color: rgba(0,0,0,.25);
}
.button:active, .button:focus {
  outline: none;
}

.button-group {
  display: inline-block;
}

.button, .button-group {
  border: 1px solid currentColor;
  border-radius: 4px;
}

.button-group {
  min-width: 1.5rem;
  vertical-align: top;
}

.button-group > * {
  border: none;
  padding: .25em;
  font-size: 1rem;
  border-left: 1px solid currentColor;
  border-radius: 0;
}

.button-group > *:first-child {
  border-left: none;
}

.colorlist .button {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: .25rem 0 .25rem .25rem;
  border: 1px solid gray;
  border-radius: 50%;
}


/**
 * Layout
 */

 @media (min-width: 481px) {
  .row {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    width: 100%;
  }

  .row-inline {
    align-items: center;
  }

  .row-balanced {
    justify-content: space-around;
  }

  .row > * {
    flex-grow: 1;
}
}


/**
 * Transitions
 */

.fade-enter-active{
  transition: opacity .25s linear .25s;
}
.fade-leave-active {
  transition: opacity .25s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}