/* Generic */
html, body {
  font-family: sans-serif;
  color: #999;
  margin: 0;
  font-size: 24px;
}

svg {
  cursor: crosshair;
}

svg path {
  stroke: currentColor;
  stroke-width: 0.25;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

button {
  padding: 0.25rem;
  color: inherit;
  border: none;
  background: none;
  font-size: .8rem;
  line-height: 1rem;
  cursor: pointer;
}

/* Layout */
.playground svg {
  margin: 1rem 1rem 80px;
}

.toolbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: .5rem;
  border-top: 1px solid currentColor;
  background-color: #fff;
  box-sizing: border-box;
}

/* Component */
.color-picker {
  height: 1.5rem;
  padding: 0 0 0 2px;
  border: none;
  background: none;
  border-radius: 2px;
}

.colorlist, .button-group {
  display: inline-block;
}

.button-group {
  border: 1px solid currentColor;
  border-radius: 4px;
  min-width: 1.5rem;
  vertical-align: top;
}

.button-group button {
  min-width: 1.5rem;
  border-right: 1px solid currentColor;
  vertical-align: top;
}

.button-group button:last-child {
  border-right: none;
}

.colorlist button {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: .25rem 0 .25rem .25rem;
  border-radius: 50%;
}

/* Setup form */
.setup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
  min-width: 320px;
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
  font-size: 0.75rem;
}

.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: .25rem;
}

.field input {
  width: 2rem;
}

.field-orientation {
  text-align: center;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + svg{ /* IMAGE STYLES */
  cursor:pointer;
  padding: .5rem;
  border-radius: .25rem;
  border:2px solid transparent;
}
label > input:checked + svg{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #1af;
}
