/* Generic */
html, body {
  font-family: sans-serif;
  margin: 0;
}

html, body, input {
  color: #333935;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

small {
  font-size: .75em;
  opacity: .75;
}

svg path {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}



.hidden {
  display: none;
}







/* Layout */
.playground svg {
  cursor: crosshair;
  margin: 1rem 1rem 80px;
}

.toolbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: .5rem;
  border-top: 1px solid currentColor;
  background-color: #fff;
  box-sizing: border-box;
}

/* Component */
.icon {
  width: 1rem;
  height: 1rem;
}

.playground path, .grid path {
  stroke: currentColor;
  stroke-width: 0.25;
}

.color-picker {
  height: 1.5rem;
  padding: 0 0 0 2px;
  border: none;
  background: none;
  border-radius: 2px;
}






.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: .5rem 0;
}

.table tr + tr td {
  border-top: 1px solid currentColor;
}





.button {
  padding: 0.25rem .375rem;
  color: inherit;
  background: none;
  line-height: 1;
  cursor: pointer;
}

.button:active {
  background-color: rgba(0,0,0,.25);
}
.button:active, .button:focus {
  outline: none;
}


.colorlist, .button-group {
  display: inline-block;
}

.button, .button-group {
  border: 1px solid currentColor;
  border-radius: 4px;
}

.button-group {
  min-width: 1.5rem;
  vertical-align: top;
}

.button-group .button {
  min-width: 1.5rem;
  border: none;
  border-right: 1px solid currentColor;
  vertical-align: top;
}

.button-group .button:last-child {
  border-right: none;
}

.colorlist .button {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: .25rem 0 .25rem .25rem;
  border: 1px solid gray;
  border-radius: 50%;
}



.row {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  width: 100%;
}

.row-inline {
  align-items: center;
}

.row-balanced {
  justify-content: space-around;
}

.row > * {
  flex-grow: 1;
}



/* large only */
.intro-logo {
  padding-right: 2rem;
  border-right: 1px solid currentColor;
  margin-right: 2rem;
  width: 20%;
}

.intro-selection-box {
  text-align: center;
}

.form {
  width: 50%;
  min-width: 320px;
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
  font-size: 0.75rem;
}



.fields {
  display: flex;
  flex-direction: row;
}

.field input {
  font-size: 2rem;
  border: none;
}

.field label {
  font-size: .75rem;
}

.field-orientation {
  text-align: center;
}






.notif {
  display: inline-block;
  min-width: .6em;
  height: 1em;
  border-radius: .7em;
  padding: .2em .4em;
  line-height: 1.2;
  color: #fff;
  background-color: #f00;
  text-align: center;
}