.grid-orientation-picker-label {
  margin: 0;
}

.grid-orientation-picker-svg {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.grid-orientation-picker-pattern {
  transition: all .5s;
  transform-origin: 50% 50%;
}

.grid-orientation-picker-pattern.Portrait {
  transform: rotate(90deg);
}

.grid-orientation-picker-svg path {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}